- var class_name = 'advantages'
section(class=`${class_name} container`)
    if(title === 'Главная')
        mixin item(name, descr, icon)
            div(class=`item`)
                div(class=`item__icon`): img(src=`assets/img/icon/header-advantages/${icon}` alt=`#`)
                div(class=`item__name`)= name
                div(class=`item__descr`)= descr

        +item('Качественная продукция', 'Проверка качества на всех этапах - отдел контроля качества', '1.svg')
        +item('Приемлемая цена', 'Исключаем все ошибки на этапе просчета технологии и калькуляции цены', '2.svg')
        +item('Поставка точно в срок', 'Материал в наличии, опытные технологи, наладчики, производственный план', '3.svg')
    else
        mixin item(descr, icon)
            div(class=`item`)
                div(class=`item__icon`): img(src=`assets/img/icon/header-advantages/all/${icon}` alt=`#`)
                div(class=`item__descr`)= descr

        +item('Индивидуальный подход <br> к каждому клиенту', '1.svg')
        +item('Выполнение срочных заказов <br> от 1-го дня', '2.svg')
        +item('Выполнение заказов<br> абсолютно любой <br>сложности и конфигурации', '3.svg')
        +item('Большая <br>география работы', '4.svg')
