- var menu = 'cat-menu'

div(class=`${menu}-box`)
	div(class='burger' data-show='.cat-menu-box') 11
		span



	//div(class=`${menu}`)
	//	nav(class = `${menu}__nav`)
	//		ul
	//			mixin menu(menu_items)
	//				each item in menu_items
	//					if(item.submenu)
	//						include menu/submenu
	//					else
	//						li(class=`${item.submenu} ${item.status}`)
	//							a(href="/")
	//								//- div(class='icon-box'): img(src=`assets/img/icon/icon-menu/${item.icon}` alt=`#`)
	//								div= item.title
	//
	//
	//			+menu([{
	//				'submenu': 'submenu',
	//				'icon': 'new.svg',
	//				'status': 'new',
	//				'title': 'Новинки',
	//				'caption': 'в ассортименте',
	//			},
	//			{
	//				'submenu': 'submenu',
	//				'icon': 'hit.svg',
	//				'status': 'hit',
	//				'title': 'Спец цены',
	//				'caption': 'расспродажа',
	//			},
	//			{
	//				'submenu': 'submenu',
	//				'icon': '3-shoes.svg',
	//				'status': '',
	//				'title': 'Обувь',
	//				'class': '',
	//			},
	//			{
	//				'submenu': 'submenu',
	//				'icon': '4-futboll.svg',
	//				'status': '',
	//				'title': 'Футбол',
	//				'class': 'active',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '5-volleyboll.svg',
	//				'status': '',
	//				'title': 'Волейбол',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '6-basket.svg',
	//				'status': '',
	//				'title': 'Баскетбол',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '7-polo.svg',
	//				'status': '',
	//				'title': 'Водное поло',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '8-gandboll.svg',
	//				'status': '',
	//				'title': 'Гандбол',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '9-regby.svg',
	//				'status': '',
	//				'title': 'Регби',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '10-badminton.svg',
	//				'status': '',
	//				'title': 'Бадминтон',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '11-lawn-tennis.svg',
	//				'status': '',
	//				'title': 'Большой теннис',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '12-single-combats.svg',
	//				'status': '',
	//				'title': 'Единоборства',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '13-Inventory.svg',
	//				'status': 'Инвентарь',
	//				'title': 'Баскетбол',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '14-table-tennis.svg',
	//				'status': '',
	//				'title': 'Настольный тенис',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '15-swimming.svg',
	//				'status': '',
	//				'title': 'Плавание',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '16-sports-nets.svg',
	//				'status': '',
	//				'title': 'Сетки спортивные',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '17-sports-medicine.svg',
	//				'status': '',
	//				'title': 'Спортивная медицина',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '18-fitness.svg',
	//				'status': '',
	//				'title': 'Фитнес',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '19-floorball.svg',
	//				'status': '',
	//				'title': 'Флорбол',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '20-hockey.svg',
	//				'status': '',
	//				'title': 'Хоккей',
	//			},
	//			{
	//				'submenu': '',
	//				'icon': '21-equipment.svg',
	//				'status': '',
	//				'title': 'Экипировка спортивная',
	//			}])
	//
	//
