- var class_name = 'header'
header(class=`${class_name}`)

    //- row1
    div(class=`${class_name}-row1 container`)

        //- Лого
        a(class=`logo` href='/')
            img(src='assets/img/header-logo.png' alt=`#`)

        a(class=`phone` href='tel:+74952555549') +7 (999) 138-45-62

        div(class=`${class_name}-row1__address`) Нижний Новгород,ул. <br> Юлиуса Фучика д. 6а

        div(class=`${class_name}-row1__right`)

            //- Поиск
            div(class=`search`)
                button.search__btn
                .placeholder-container
                    input(type="text" name="#" placeholder= ' ' required)
                    div(class='caption') Search


            a(class=`header-cart` href='/')



    //- row2
    div(class=`${class_name}-row2 `)
        div(class = `${class_name}-row2__cat-wrapper`)
            | Каталог
            div(class='burger' data-show='.header-row2__cat-wrapper'): span

            //- Каталог
            include cat-nav


        nav(class = 'header-menu')
            ul
                li: a(href='#') О компании
                li: a(href='#') Производство
                li: a(href='#') Галерея
                li: a(href='#') Контакты
            div(class='burger' data-show='.header-menu')
                span

