- var class_name = 'product'
section(class=`${class_name} container`)
    h1 Зуб пружинный на пресс-подборщик Takakita RB1060
    //- box
    div(class=`${class_name}__box`)
        //- slider
        div(class=`slider`)

            div(class = 'slider__top-block')

                div(class = 'slider__arr-last' data-index='last')

                div(class='slider__top-img')

                div(class = 'slider__arr-next' data-index='next')



            div(class = 'slider__thumbnail-block' data-slider = '.slider__top-img')
                div(class = 'wrapper')
                    div(class = 'slide')
                        img(src="https://gugos.ru/img/%D0%9F%D0%BE%D1%80%D1%82%D1%84%D0%BE%D0%BB%D0%B8%D0%BE/%D0%9C%D0%9E%20%D0%93%D0%BE%D1%80%D0%BA%D0%B8/001.jpg"  alt="")

                    div(class = 'slide')
                        img(src="https://gugos.ru/userfls/editor/large/244_002.jpg" alt="")

                    div(class = 'slide')
                        img(src="https://gugos.ru//img/%D0%9F%D0%BE%D1%80%D1%82%D1%84%D0%BE%D0%BB%D0%B8%D0%BE/%D0%9C%D0%9E%20%D0%93%D0%BE%D1%80%D0%BA%D0%B8/002.jpg" alt="")

                    div(class = 'slide')
                        img(src="https://gugos.ru/userfls/editor/large/243_001.jpg" alt="")

                    div(class = 'slide')
                        img(src="https://gugos.ru/userfls/editor/large/243_001.jpg" alt="")

                    div(class = 'slide')
                        img(src="https://gugos.ru/img/%D0%9F%D0%BE%D1%80%D1%82%D1%84%D0%BE%D0%BB%D0%B8%D0%BE/%D0%A7%D1%83%D1%80%D0%B8%D0%BB%D0%B8%D1%85%D0%B0/003.jpg" alt="")




        //- right-box
        - var right_box = 'right-box'
        div(class=`right-box`)
            div(class=`${right_box}__spesification`)
                div(class=`${right_box}__spesification-term`) Наруж. диаметр пружины:
                div(class=`${right_box}__spesification-val`) 140 мм

            div(class=`${right_box}__spesification`)
                div(class=`${right_box}__spesification-term`) Внутр. диаметр пружины:
                div(class=`${right_box}__spesification-val`) 29 мм

            div(class=`${right_box}__spesification`)
                div(class=`${right_box}__spesification-term`) Диаметр проволоки:
                div(class=`${right_box}__spesification-val`) 5 мм

            div(class=`${right_box}__spesification`)
                div(class=`${right_box}__spesification-term`) Сталь:
                div(class=`${right_box}__spesification-val`) Пружинная высокоуглеродистая ГОСТ 9389-75 Б-2

            div(class=`${right_box}__spesification`)
                div(class=`${right_box}__spesification-term`) Вес:
                div(class=`${right_box}__spesification-val`) 0,15кг

            a(class='btn' href='/') Узнать цену

